doctype html

html
  head
    title Negocios Locales
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  body#page
    .content-wrapper
      section#content.row.content_box
        .large-9.medium-9.columns
          p.notice #{notice}
          p.alert #{alert}
          = yield
